Repository gn5r/bc: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -w, vitest run --silent --changed

feat: add profile option handling with tests for yargs integration
  src/options/__tests__/profile.spec.ts
  src/options/profile.ts
Due: eslint, prettier -w

fix: correct test suite description for objects.ts
  src/utils/__tests__/objects.spec.ts
Due: eslint, prettier -w

feat: add directory utility functions and corresponding tests for backlog configuration
  src/utils/__tests__/dirs.spec.ts
  src/utils/dirs.ts
Due: eslint, prettier -w

feat: implement profile management functions with corresponding tests
  src/utils/__tests__/profile.spec.ts
  src/utils/profile.ts
Due: eslint, prettier -w

fix: update config file creation to use an empty object instead of default profile
  src/utils/__tests__/profile.spec.ts
  src/utils/profile.ts
Due: eslint, prettier -w

refactor: rename readConfigFile to readProfiles for clarity
  src/utils/profile.ts
Due: eslint, prettier -w

chore: add inquirer dependency to package.json
  package-lock.json
  package.json
Due: none

feat: implement createListCommand for profile listing functionality
  src/command/configure/__tests__/list.spec.ts
  src/command/configure/list.ts
Due: eslint, prettier -w

feat: add createConfigureCommand for backlog-cli configuration
  src/command/configure/__tests__/index.spec.ts
  src/command/configure/index.ts
  src/index.ts
Due: eslint, prettier -w, vitest run --silent --changed

fix: update copyright year and add 'inquirer' to external dependencies
  esbuild.mjs
Due: eslint, prettier -w

feat: add example environment variables for backlog-cli configuration
  .env.example
Due: none

backup
  src/command/__tests__/abstractSubCommand.spec.ts
  src/command/abstractSubCommand.ts
  src/command/get/__tests__/index.spec.ts
  src/command/get/index.ts
  src/command/get/users/__tests__/index.spec.ts
  src/command/get/users/index.ts
  src/command/get/users/myself.ts
  src/command/get/users/user.ts
  src/command/get/users/userIcon.ts
  src/command/get/users/users.ts
  src/index.ts
Due: eslint, prettier -w, vitest run --silent --changed

client
  src/__tests__/client.spec.ts
  src/client.ts
  vitest.config.mts
Due: eslint, prettier -w, vitest run --silent --changed

Path conditions:
  eslint: any of: **/*.{js,mjs,ts,mts}
  prettier -w: any of: **/*.{js,mjs,ts,mts}
  vitest run --silent --changed: any of: src/*.ts
